<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dmitriy.deomin.helpnumber_free"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Operatori"
            android:label="@string/title_activity_operatori"></activity>
        <activity
            android:name=".List_number"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity
            android:name=".Pozvonit_na_gorodskoy"
            android:label="@string/title_activity_pozvonit_na_gorodskoy"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Save_numbers"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
            >
        </activity>
        <activity
            android:name=".Abaut"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity
            android:name=".Setting"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"></activity>
        <activity
            android:name=".Text_inf"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity
            android:name=".Edit_number"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity
            android:name=".List_operatori"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity
            android:name=".Zapros"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity
            android:name=".Dual_number"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
        <activity android:name=".Politika"></activity>
    </application>

</manifest>